html {
    scroll-padding-top: 74px;
}

body {
    font-family: "Roboto", sans-serif !important;
}

.max-w {
    max-width: 75%;
}

.navbar-nav .nav-item .nav-link {
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #21b26f;
}

#hero {
    background-image: url("../img/compressed jpeg/nature-person-field-sunlight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero img {
    height: 120px;
    width: auto;
}

.marketing-img img {
    height: auto;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .max-w {
        max-width: 95%;
    }
}

@media screen and (max-width: 500px) {
    #hero {
        background-image: url("../img/compressed jpeg/nature-person-field-sunlight-small.jpg");
    }
}
